.root {
    -fx-font-family: "Segoe UI";
    -fx-base: #3498db;
    -fx-background: #ecf0f1;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-min-height: 40px;
}

.tab {
    -fx-background-color: #bdc3c7;
    -fx-background-radius: 5 5 0 0;
}

.tab:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #2980b9;
}